{
    email galvani4987@gmail.com
}

galvani4987.duckdns.org {
    respond "Serviço Caddy Funcionando! Em breve, Authelia e Homer estarão aqui." 200
}

n8n.galvani4987.duckdns.org {
    reverse_proxy n8n:5678 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-Proto {scheme}
    }
}
